@model RepairShop.ViewModels.VMRepairOrderIndex

@using RepairShop.CustomHtmlHelpers

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>


<h3>Status Statistics</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairStatusGroups.FirstOrDefault().RepairStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairStatusGroups.FirstOrDefault().StatusCount)
        </th>
    </tr>

    @foreach (var item in Model.RepairStatusGroups)
    {
        <tr>
            <td>
                @Html.DisplayFor(dataItem => item.RepairStatus)
            </td>
            <td>
                @item.StatusCount
            </td>
        </tr>
    }
</table>
<br />


<h3>Repair Orders List</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().RepairStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Technician)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().HoursWorkedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RepairOrders)
    {
        <tr class="@Html.AwaitingDateExceededStyling(modelItem => item, HtmlAttributes: new { @class = "text-danger" })">
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td class="@item.RepairStatus.ToString().ToLower()">
                @Html.DisplayFor(modelItem => item.RepairStatus)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Customer)*@
                <div style="padding-bottom:0.5em;">
                    <div style="text-decoration:underline">Name</div>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </div>

                <div style="text-decoration:underline">@Html.DisplayNameFor(modelItem => item.Customer.Email)</div>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Technician)*@

                <div style="padding-bottom:0.5em;">
                    <div style="text-decoration:underline">Name</div>
                    @Html.DisplayFor(modelItem => item.Technician.FirstName)
                    @Html.DisplayFor(modelItem => item.Technician.LastName)
                </div>

                <div style="text-decoration:underline">
                    @Html.DisplayNameFor(modelItem => item.Technician.HourPrice)
                </div>
                @Html.DisplayFor(modelItem => item.Technician.HourPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorkedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
